<!DOCTYPE html>
<html>
<head>
	<title>TrendCloud</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/style.css" rel="stylesheet" media="screen">
</head>
<body>

<div id="main">
	<div class="headline">TrendCloud</div>
	<img src="static/img/trendcloud.svg" alt="Logo" />
	<div class="trends"> 
		#foreach( $a in $array )
		   <div><a class="trend trend$velocityCount" href="#">$a</a></div>
		#end
	</div>
</div>

</body>
</html>



