<!DOCTYPE html>
<html>
<head>
	<title>TrendCloud</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/style.css" rel="stylesheet" media="screen">
</head>
<body>

<div id="main">
	<div class="headline">TrendCloud</div>
	<img src="static/img/trendcloud.svg" alt="Logo" />
	<div class="trends">
			#foreach( $a in $array )
				#if( $velocityCount <= 10 )
			        <div><a class="sound trend trend$velocityCount" href="$a.getUri()/stream?client_id=bcf29defbcb57dff0d6f907f288f0790">$a.getTitle()</a></div>
			    #end
			#end	
	</div>
</div>
</body>
</html>



