<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
    "http://www.w3.org/TR/html4/loose.dtd"> 

<html> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <title>Weather Hell</title> 
    </head> 
    <body> 
        <h1>Hallo ${name}!</h1> 
        <h2>Ich habe die folgenden Wetterdaten gefunden:<br /> 
            ***********************************************************<br /> 
            ${weather.city}, ${weather.region}, ${weather.country} at<br /> 
            ${weather.date},<br /> 
            <br /> 
            Temperature: ${weather.temp}<br /> 
            Condition: ${weather.condition},<br /> 
            Sunrise: ${weather.sunrise}<br /> 
            Sunset: ${weather.sunset}<br /> 
            ***********************************************************<br /> 
        </h2> 

    </body> 
</html> 