body {
	font-family: Arial,sans-serif;
}

#main {
	text-align: center;
}

.headline {
	font-size: 50px;
	font-weight: bold;
}

.trends {
	position: relative;
	bottom: 280px;
}

.sound {
	padding-left: 20px;
	background-image: url("img/play.png");
	background-repeat: no-repeat;
}

.trend {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: white;
	text-decoration: none;
	position: relative;
}

.trend1 {
	left: 40px;
}

.trend2 {
	left: -20px;
}

.trend3 {
}

.trend4 {
	left: 70px;
}

.trend5 {
	left: -90px;
}

.trend6 {

}

.trend7 {
	left: -150px;
}

.trend8 {
	left: -45px;
}

.trend9 {
	left: -75px
}

.trend10 {
	left: -20px;
}